<h2><%= @notebook.name %></h2>

<%= link_to 'New pagae', new_notebook_page_path(@notebook.id), data: { turbo_frame: dom_id(Page.new) } %>

<%= turbo_frame_tag 'pages' do %>
  <% if @notebook.pages.empty? %>
    <p>Nothing to show</p>
  <% else %>
    <div>
      <%= turbo_frame_tag Page.new %>
      <%= turbo_frame_tag 'pages' do %>
        <div>
          <div>Title</div>
          <div>Updated at</div>
          <div></div>
        </div>
        <div>
          <% @pages.each do |page| %>
            <div><%= link_to page.title, notebook_page_path(@notebook.id, page.id), data: { turbo_frame: '_top' } %></div>
            <div><%= page.updated_at.strftime("%d-%m-%Y") %></div>
            <div>Delete</div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>